/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color: #fff;
    text-decoration: none;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.items>.item {
border: 1px solid rgba(255, 255, 255, 0.0);
border-radius: 5px;
}

.ui.items>.item.selected {
border: 1px solid rgba(163, 51, 200, 0.41);
border-radius: 5px;
}

.ui.items>.item>.content>.header {
  padding-top: 1em;
}

.products-list {
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
}

.product-row {
border-bottom: 1px solid black;
}

.product-image {
float: left;
}



.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

cf {
  *zoom: 1;
}

.imgc {
width: 100%;
padding: 5px;
}
